.navbar {
  background-color: #00BFFF;
  color: #6A5ACD;
  width: 100%;
  font-size: 40px;
}
.navbar a:hover{
  background-color: #ADFF2F;
  color: white;
}
#rowone {
  height: 500px;
  text-align: center;
  background-image: url(../img/playg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
